* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  background-color: #f3f6fa;
}

nav .logo {
  color: #3c64b1;
}

nav .logo a,
nav .logo a:visited,
nav .logo a:active {
  text-decoration: none;
  color: #3c64b1;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 4rem;
  cursor: pointer;
}

button {
  padding: 0.5rem 1.5rem;
}
button a,
button a:visited,
button a:active {
  text-decoration: none;
  color: #3c64b1;
}

button.login {
  background-color: #3c64b1;
}

button.login a {
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.center-container button {
  background-color: #fff;
  border: 1px solid #3c64b1;
  outline: 0;
  margin-top: 4rem;
  width: 15rem;
  padding: 1rem 0;
  color: #3c64b1;
  cursor: pointer;
}
.center-container a:visited,
.center-container a:active {
  color: #3c64b1;
}

.center-container button:hover {
  background-color: #3c64b1;
  color: white;
}
